# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test output
coverage/

# Nodemon debug log
nodemon-debug.log
